/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    
}


 header img {
    grid-area: logo;
    align-self: flex-start;
    height: 1.2rem;
    margin-top: 13px;
 }

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 69px;
    margin: 23px 1px;   
}

ul {
    list-style-type: none;
}

nav a:hover {
    color: #0065FC;
    border-top:  #0065FC solid 5px;
    padding-top: 20px;
}

p {
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    
}



.conteneur-filtre{
    display: flex;
    box-sizing: border-box;
    align-items: center;
   
}


  
  .filters-ul {
    display: flex;
    align-items: center;
  }
  
  .filters-ul li {
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: solid 2px #e2e2e2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px;
  }
  
  .filters-ul li:hover {
    cursor: pointer;
    background: #DEEBFF;
    transition-duration: 0.25s;
  }
  
  .filters-ul li:hover .icon-filter {
    background: white;
    transition-duration: 0.25s;
  }
  
  .icon-filter {
    color: #0065fc;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
  }
  
  .info .fas {
    color: #0065fc;
    font-size: 16px;
    padding: 7px 11px 7px 11px;
    border: solid 1px #D9D9D9;
    border-radius: 2000px;
    margin-right: 10px;
  }
  
  .info p {
    display: inline;  }

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Section Hebergements ***********/

section.main-hebergements {
    width: 65%;
}
.hebergements {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;
}
.article-raw {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.article-raw .card img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 24px 24px 0 0;
}



.show-more {
    font-weight: 700;
    font-size: 18px;
}

.main-hebergement{

    margin: 0 auto;
    display: flex;  
    justify-content: space-between;
}

main span{
    font-weight: bold;
}


.section-title {

    font-size: 1.4rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.conteneur-hebergement{
  
    padding: 40px;
    border-radius: 30px;
    background-color: var(--fond);
}

.conteneur-hebergement h2{
    margin-bottom: 30px;
}

.box-card-hebergement{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.card-hebergement{
    border-radius: 30px;
    overflow: hidden;
    margin: 15px 0;
    width: 31%;
    height: 230px;
    cursor: pointer;
    border: 5px solid #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.379);
    background-color: rgb(255, 255, 255);
}

.hebergement-img{
    height: 60%;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******  Section Activites *******/

.main-activite  {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 0px 0 0px;
   
}

.section-title {

    font-size: 1.4rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.main-activite div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
    margin-left: 25px;
} 


.conteneur-card-activite {
    display: flex;
    width: 23%;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    flex-direction: column;
    
}

.conteneur-card-activite img {
    width: 100%;
    height: 400px;

}


.conteneur-card-activite:hover {
    transform: scale(1.05);
}





/********************* Footer *********************/

footer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--fond);
}

.footer-a-propos, 
.footer-hebergement, 
.footer-assitance{
    width: 34%; 
}

.footer-a-propos h2, 
.footer-hebergement h2, 
.footer-assitance h2{
    margin-bottom: 15px;
}

.item-footer{
    margin-bottom: 10px;
    transition: color 0.4s ease-in-out;
}

.item-footer a:hover {
    color: var(--principale);
}
  
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}