/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    
}


 header img {
    grid-area: logo;
    align-self: flex-start;
    height: 1.2rem;
    margin-top: 13px;
 }

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 69px;
    margin: 23px 1px;   
}

nav a:hover {
    color: #0065FC;
    border-top:  #0065FC solid 5px;
    padding-top: 20px;
}

.conteneur-filtre{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0;
    font-size: clamp(12px, 3vw, 16px);
}


  
  .filters ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .filters ul li {
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: solid 2px #e2e2e2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px;
  }
  
  .filters ul li:hover {
    cursor: pointer;
    background: #DEEBFF;
    transition-duration: 0.25s;
  }
  
  .filters ul li:hover .icon-filter {
    background: white;
    transition-duration: 0.25s;
  }
  
  .icon-filter {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
  }
  
  .info .fas {
    color: #0065fc;
    font-size: 16px;
    padding: 7px 11px 7px 11px;
    border: solid 1px #D9D9D9;
    border-radius: 2000px;
    margin-right: 20px;
  }
  
  .info p {
    display: inline;
  }
  


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********************* Footer *********************/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--fond);
}

.footer-infos, 
.footer-hebergement, 
.footer-assitance{
    width: 30%; 
}

.footer-infos h2, 
.footer-hebergement h2, 
.footer-assitance h2{
    margin-bottom: 20px;
}

.item-footer{
    margin-bottom: 10px;
    transition: color 0.4s ease-in-out;
}

.item-footer a:hover {
    color: var(--principale);
}
  
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}